.dates{
	background: #eee;
	width: 80%;
	height: 300px;
	margin-top: 20px;
	padding: 0.5em;
}
.tabs{
	margin-top: 40px;
}
.nav{
	background: 
}
.tab-content{
	position: relative;
}
.tab-content .icons{
	position: absolute;
	top: 10px;
	right: 10%;
	font-size: 30px;
}
