body{
	background-color: #fff;
}
header{
	background-color: #2E9AFE;
	color:#f9f9f9 ;
	-webkit-box-shadow: -22px 0px 51px 0px rgba(131,138,134,1);
	-moz-box-shadow: -22px 0px 51px 0px rgba(131,138,134,1);
	box-shadow: -22px 0px 51px 0px rgba(131,138,134,1);
}
.dates{
	background: #eee;
	width: 80%;
	height: 300px;
 	margin-top: 20px;
	padding: 0.5em;
}
.contenedor-asignatura{
	width: 19%;
	background: #eee;
	position: absolute;
	right: 0;
	top: 57px;

}
.tabs{
	margin-top: 40px;
}

.tab-content{
	position: relative;
}
.tab-content .icons{
	margin-top: 10px;	
	font-size: 1em	;
}

#asignaturas_Asociadas_info{
	display:none;
}
#asignaturas_noAsociadas_info{
	display:none;
}