.dates{
	background: #eee;
	width: 80%;
	height: 300px;
 	margin-top: 20px;
	padding: 0.5em;
}
.contenedor-asignatura{
	width: 19%;
	background: #eee;
	position: absolute;
	right: 0;
	top: 57px;

}
.tabs{
	margin-top: 40px;
}

.tab-content{
	position: relative;
}
.tab-content .icons{
	margin-top: 10px;	
	font-size: 1em	;
}

