<!doctype>
{% load staticfiles %}
<html>

<head>
	<title>Omega practica</title>
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-switch.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/jquery.dataTables.min.css' %}">	
	<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'icomoon/style.css' %}">

</head>

<body>
	<header>
		<div class="container">
			<h1>Omega practica</h1>
		</div>
	</header>
	<div class="container tabs">

	  <ul class="nav nav-tabs" role="tablist">
	    <li role="presentation" class="active"><a href="#home" aria-controls="" role="tab" data-toggle="tab">Estudiante</a></li>
	    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Materia</a></li>	    
	  </ul>

	<div class="tab-content">
	    <div role="tabpanel" class="tab-pane active" id="home">
	    	<span class="icon-user-plus icons btn btn-default" data-toggle="modal" data-target="#myModal">
	    		agregar usuario
	    	</span>

	    	<div class="dates cambio">
				   <table id="estudiantes" class="display"  cellspacing="0">
				    <thead>	
				    	 <tr>
			                <th>Nombre</th>
			                <th>Apellido</th>
			                 <th>Cedula</th>
			                <th>Edad</th>
			                <th>Email</th>
			                <th>Estado</th>
			                <th>Asignatura</th>
			                
			            </tr>
			         </thead>
				        <tbody>
				       
				        </tbody>
		    	</table>
				</div>
				<div class="contenedor-asignatura">
					<table id="asignaturas_asociadas" class="display"  cellspacing="0">
						<thead>
							<th>Asociadas</th>
							<th>desasociar</th>
						</thead>
						<tbody>
						</tbody>
					</table>
					<table id="asignaturas_noAsociadas" class="display"  cellspacing="0">
						<thead >
							<th>No Asociadas</th>
							<th>asociar</th>
						</thead>
						<tbody>
						</tbody>
					</table>
	    </div>
	</div>
	    <div role="tabpanel" class="tab-pane" id="profile">
	    <span class=" icon-pencil icons btn btn-default" data-toggle="modal" data-target="#myModal2">Agregar Materia</span>	
	    	<div class="dates">
	    		<table id="materia" class="display" width="100%" cellspacing="0">
				    <thead>	
				    	 <tr>
			                <th>Materias</th>
			                <th>Estado</th>
			            </tr>
			         </thead>

				        <tbody>
				         
				        </tbody>
		    	</table>
	    	</div>
	    	
	    </div>
	    
  	</div>

	</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Añadir Estudiante</h4>
      </div>
      <form role="form" data-toggle="validator" name='estudiante' action='/unerg/estudiante_guardar_json/' class='agregar' method='POST' >{% csrf_token %}
	      	<div class="modal-body">
	           
	        	<div class="form-group">
	        		<label for="nombre">Nombre</label>
	        		<input type="text" class="form-control" id="nombre" name="nombre" required>
	        	</div>

	        	<div class="form-group">
	        		<label for="apellido">Apellido:</label>
	        		<input type="text" class="form-control" id="apellido" name="apellido" required>
	        	</div>

				<div class="form-group">
	        		<label for="cedula">Cedula</label>
	        		<input type="number" class="form-control" id="cedula" name="cedula" required>
	        	</div>

	        	<div class="form-group">
	        		<label for="edad">Edad:</label>
	        		<input type="number" class="form-control" id="edad" name="edad" required>
	        	</div>

	        	<div class="form-group">
	        		<label for="email">Email:</label>
	        		<input type="email" class="form-control" id="email" name="email" required>
	        	</div>
	        </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
		        <button type="submit" class="btn btn-primary Guardar">Guardar cambios</button>
		      </div>
        </form>

      </div>
    </div>
  </div>
</div>

<!-- Modal2 -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Añadir Materia</h4>
      </div>
        <form name='materia' class='agregar' role="form" data-toggle="validator" method='POST' action='/unerg/materias_guardar_json/'>{% csrf_token %}
        <div class="modal-body">
        	<div class="form-group">
        		<label for="nombre">Materia</label>
        		<input type="text" class="form-control" id="nombre" name="nombre_materia" required>
        	</div>
       
      </div>
      	<div class="modal-footer">
        	<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        	<button type="submit" class="btn btn-primary Guardar">Guardar Cambios</button>
      	</div>
      </form>
    </div>
  </div>
</div>

<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.dataTables.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap-switch.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
<script type="text/javascript" src="{% static 'js/validator.js' %}"></script>
</body>
</html>