<!doctype>
<html>
<head>
	<title>Omega practica</title>
	<meta name="viewport" content="initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/styles.css">
	<link rel="stylesheet" type="text/css" href="icomoon/style.css">
	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
</head>

<body>
	<header>
		<nav class="container">
			<h2>Esto es una barra de navegacion</h2>
		</nav>
	</header>
	<div class="container tabs">

	  <!-- Nav tabs -->
	  <ul class="nav nav-tabs" role="tablist">
	    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Estudiante</a></li>
	    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Materia</a></li>
	    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Asignatura</a></li>
	    
	  </ul>

	  <!-- Tab panes -->
	<div class="tab-content">
	    <div role="tabpanel" class="tab-pane active" id="home">
	    	<div class="dates">
	    		<table id="example" class="display" width="100%" cellspacing="0">
				   <table id="example" class="display" width="100%" cellspacing="0">
				    <thead>	
				    	 <tr>
			                <th>Nombre</th>
			                <th>Apellido</th>
			                <th>Edad</th>
			                <th>Email</th>
			                
			            </tr>
			         </thead>
			           
				        <tbody>
				        	<tr>
				        		<td></td>
				        	</tr>
				        	<tr>
				        		<td></td>
				        	</tr>
				        	<tr>
				        		<td></td>
				        	</tr>

				        </tbody>
		    	</table>
				
	    	</div>
	    	<span class="icon-plus" data-toggle="modal" data-target="#myModal"></span>
	    </div>
	    <div role="tabpanel" class="tab-pane" id="profile">
	    	<div class="dates">
	    		<table id="example" class="display" width="100%" cellspacing="0">
				    <thead>	
				    	 <tr>
			                <th>Nombre</th>
			                
			            </tr>
			         </thead>

				        <tbody>
				        	<tr>
				        		<td></td>
				        	</tr>
				        	
				        </tbody>
		    	</table>
	    	</div>
	    	<span class=" icon-plus" data-toggle="modal" data-target="#myModal"></span>
	    </div>
	    <div role="tabpanel" class="tab-pane" id="messages">
	    	<div class="dates">
	    		<table id="example" class="display" width="100%" cellspacing="0">
				    <thead>	
				    	 <tr>
			                <th>Nombre</th>
			                <th>Codigo de materia</th>
			                <th>Estudiante</th>
			                
			            </tr>
			         </thead>
				        <tbody>
				        	<tr>
				        		<td></td>
				        	</tr>
				        	<tr>
				        		<td></td>
				        	</tr>
				        	<tr>
				        		<td></td>
				        	</tr>

				        </tbody>
		    	</table>
	    	</div>
	    	<span class=" icon-plus" data-toggle="modal" data-target="#myModal"></span>
	    </div>
  	</div>

	</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
</body>
</html>